<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="css/styles.css">

    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="mercado liebre">
        <form action="">
            <input type="text" name="keys" placeholder="Buscar productos, marcas">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="subtitle-dues">
            <i class="fas fa-hand-holding-usd"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li>
                    <a href="">Creá tu cuenta</a>
                    <i class="far fa-id-card"></i>
                </li>
                <li>
                    <a href="">Ingresá</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="">Mis compras</a>
                    <i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div>
        <img src="./images/img-home-banner.jpg" alt="">
    </div>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <div>
                    <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="contain-card-items">
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </div>


            </article>
            <article>
                <div>
                    <img src="./images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="contain-card-items">
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </div>


            </article>
            <article>
                <div>
                    <img src="./images/img-samsung-galaxy-s10.jpg" alt="samsung s10">
                    <div class="contain-card-items">
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </div>


            </article>
            <article>
                <div>
                    <img src="./images/img-tv-samsung-smart.jpg" alt='smart 43"'>
                    <div class="contain-card-items">
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>

                </div>

            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <article>
                <div>
                    <img src="./images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="contain-card-items">
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$6.770</p>
                        <p class="discount">40% OFF</p>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </div>


            </article>
            <article>
                <div>
                    <img src="./images/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="contain-card-items">
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </div>


            </article>
            <article>
                <div>
                    <img src="./images/img-samsung-galaxy-s10.jpg" alt="samsung s10">
                    <div class="contain-card-items">
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </div>


            </article>
            <article>
                <div>
                    <img src="./images/img-tv-samsung-smart.jpg" alt='smart 43"'>
                    <div class="contain-card-items">
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>

                </div>

            </article>
        </section>
    </main>
    <footer>
        <section>
            <div class="card">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="send">
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="security">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>



</body>

</html>